h1 {
    font-size: 15;
    font-family: cursive;
    text-align: center;
    padding: 20px;
    color: aliceblue;
}
img {
    display: flex;
    margin: auto;
    width: 20%;
    justify-content: center;
}
label{
    color: aliceblue;
}
div{
    color: aliceblue;
    justify-content: center;
    text-align: center;
}
body{
    background-color: #003049;
}