body, html{
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #4a5759;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;

}
.container{
    font-family: sans-serif;
    font-size: large;
    justify-content: center;
}
.form{
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1-x solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    background-color: aliceblue;
    display: inline-block;
    margin-right: 0px;
}
.maintenance_form{
    justify-content: left;
    text-align: left;
    background-color: #4a5759;
    font-family: sans-serif;
    font-size: medium;
}
.dropdn{
    text-align: left;
    justify-content: left;
    font-family: sans-serif;
    font-weight: bold;
    font-size: large;
}
.desc, .img, .loc, .comms{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
    text-align: left;
    justify-content: left;
    font-family: sans-serif;
    font-weight: bold;
    font-size: large;
}
.desc h3,
.img h3,
.loc h3,
.comms h3{
    margin: 0;
    font-size: 16px;
}
.desc input{
    flex: 1;
    padding: 6px;
    font-size: 14px;
}
.loc h3{
    font-size: medium;
}
.submission{
    text-align: center;
}
